In [1]:
import pandas as pd
import requests
from config import places_api
from citipy import citipy
import numpy as np
from matplotlib import pyplot as plt
import gmaps

In [6]:
df=pd.read_csv("weather.csv")
df.head()

,Unnamed: 0,City,lat,lon,temp_F,humidity,cloudiness,wind_mph,hemisphere
0,0,Hilo,19.73,-155.09,70.39,88,90,3.36,northern_hem
1,1,Partizanskoye,55.50,94.39,45.41,91,100,3.71,northern_hem
2,2,Krasnosel'kup,65.70,82.47,38.71,85,58,8.30,northern_hem
3,3,Zaoyang,32.13,112.75,69.55,72,100,5.68,northern_hem
4,4,Carnarvon,-24.87,113.63,68.00,88,40,8.05,southern_hem

In [7]:
# creating lists of ideal places based on ideal varialbe

ideal_temp=[]
ideal_wind=[]
ideal_clouds=[]

for temp in df.temp_F:
    if (temp < 80) and (temp >70):
        ideal_temp.append(True)
    else:
        ideal_temp.append(False)
        
for wind in df.wind_mph:
    if wind < 10:
        ideal_wind.append(True)
    else:
        ideal_wind.append(False)

for cloud in df.cloudiness:
    if cloud ==0:
        ideal_clouds.append(True)
    else:
        ideal_clouds.append(False)

In [63]:
# creating dataframes from the ideal lists, merging for cities that are in all 3 lists

ideal_temp_df=df[ideal_temp]
ideal_wind_df=df[ideal_wind]
ideal_clouds_df=df[ideal_clouds]

ideal_con=pd.DataFrame.merge(ideal_temp_df,ideal_wind_df, how="inner")
ideal_conditions=pd.DataFrame.merge(ideal_con, ideal_clouds_df, how="inner")

In [60]:
ideal_conditions=ideal_conditions.drop("Unnamed: 0", axis=1)
ideal_conditions

,City,lat,lon,temp_F,humidity,cloudiness,wind_mph,hemisphere
0,Castro,-24.79,-50.01,78.22,34,0,3.58,southern_hem
1,Antsohihy,-14.88,47.99,72.93,64,0,3.62,southern_hem
2,Guerrero Negro,27.98,-114.06,79.97,47,0,9.84,northern_hem
3,Korla,41.76,86.15,71.01,73,0,1.99,northern_hem
4,R큰db훮r,30.15,62.60,71.58,20,0,5.14,northern_hem
5,Viedma,-40.81,-63.00,75.00,35,0,5.01,southern_hem
6,Alyangula,-13.85,136.42,73.40,83,0,5.39,southern_hem
7,Mocuba,-16.84,36.99,76.73,54,0,7.87,southern_hem

In [79]:
# list of coordinates of ideal destinations for For Loop
coordinates=zip(ideal_conditions.lat,ideal_conditions.lon)
coordinates=list(coordinates)

coordinates

[(-24.79, -50.01),
 (-14.88, 47.99),
 (27.98, -114.06),
 (41.76, 86.15),
 (30.15, 62.6),
 (-40.81, -63.0),
 (-13.85, 136.42),
 (-16.84, 36.99)]

In [5]:
url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

data=requests.get(url=url, params={
    "location":"-24.79, -50.01",
    "radius": 5000,
    "type": "lodging",
    "key": places_api
}).json()
castro_hotel=data['results'][0]['name']
castro_hotel

'CHACARA BAILLY'

In [6]:


url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotels=[]

def extract_data(data):
     return {places["results"]["name"]}

for coord in coordinates:
    data=requests.get(url=url, params={
    "location": coord,
    "radius": 5000,
    "type": "lodging",
    "key": places_api
    }).json()
    
    hotel_name=extract_data(data)
    hotels.append(hotel_name)

NameError: name 'coordinates' is not defined

In [7]:
hotels

[]

map