In [2]:
import pandas as pd
import requests
from config import places_api
from citipy import citipy
import numpy as np
from matplotlib import pyplot as plt

In [3]:
df=pd.read_csv("weather_data.csv")
df.head()

,Unnamed: 0,City,lat,lon,temp_F,humidity,cloudiness,wind_mph,hemisphere
0,0,Hilo,19.73,-155.09,70.39,88,90,3.36,northern_hem
1,1,Partizanskoye,55.50,94.39,45.41,91,100,3.71,northern_hem
2,2,Krasnosel'kup,65.70,82.47,38.71,85,58,8.30,northern_hem
3,3,Zaoyang,32.13,112.75,69.55,72,100,5.68,northern_hem
4,4,Carnarvon,-24.87,113.63,68.00,88,40,8.05,southern_hem

In [4]:
ideal_temp=[]
ideal_wind=[]
ideal_clouds=[]

for temp in df.temp_F:
    if (temp < 80) and (temp >70):
        ideal_temp.append(True)
    else:
        ideal_temp.append(False)
        
for wind in df.wind_mph:
    if wind < 10:
        ideal_wind.append(True)
    else:
        ideal_wind.append(False)

for cloud in df.cloudiness:
    if cloud ==0:
        ideal_clouds.append(True)
    else:
        ideal_clouds.append(False)

In [5]:
ideal_temp_df=df[ideal_temp]
ideal_wind_df=df[ideal_wind]
ideal_clouds_df=df[ideal_clouds]

ideal_con=pd.DataFrame.merge(ideal_temp_df,ideal_wind_df, how="inner")
ideal_conditions=pd.DataFrame.merge(ideal_con, ideal_clouds_df, how="inner")

In [6]:
ideal_conditions=ideal_conditions.drop("Unnamed: 0", axis=1)

In [33]:
ideal_conditions

coordinates=zip(ideal_conditions.lat,ideal_conditions.lon)
coordinates=list(coordinates)
coordinates

[(-24.79, -50.01),
 (-14.88, 47.99),
 (27.98, -114.06),
 (41.76, 86.15),
 (30.15, 62.6),
 (-40.81, -63.0),
 (-13.85, 136.42),
 (-16.84, 36.99)]

In [18]:
url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

target_coordinates = "-24.79, -50.01"
target_type="lodging"


places=requests.get(url=url, params={
    "location": target_coordinates,
    "radius": 5000,
    "type": target_type,
    "key": places_api
}).json()

In [24]:
places['results'][0]['name']

'CHACARA BAILLY'

In [ ]:
for city in coordinates:
    requests.get(url=)